# Hands-on DS: Pandas

Hands-on Exercises for Lec. 13 of UFUG1601-ICS at HKUST-GZ\
Created by Guoming Tang\
Latest update: Oct. 29, 2024

---

ERROR: unknown command "panda"

## Module 1: Data Indexing and Selection

### Sample Code

In [1]:
import pandas as pd

# Sample sales data for January
data_january = {
    'Salesperson': ['Alice', 'Bob', 'Charlie'],
    'Sales': [5000, 3000, 4000]
}
df_january = pd.DataFrame(data_january)
print("January DataFrame:\n", df_january)

# Indexing and selection
sales_alice = df_january[df_january['Salesperson'] == 'Alice']
print("\nSales for Alice:\n", sales_alice)

# Using loc to select by label
sales_bob = df_january.loc[df_january['Salesperson'] == 'Bob']
print("\nSales for Bob:\n", sales_bob)

# Using iloc to select by index position
first_row = df_january.iloc[0]
print("\nFirst row of January sales:\n", first_row)

January DataFrame:
   Salesperson  Sales
0       Alice   5000
1         Bob   3000
2     Charlie   4000

Sales for Alice:
   Salesperson  Sales
0       Alice   5000

Sales for Bob:
   Salesperson  Sales
1         Bob   3000

First row of January sales:
 Salesperson    Alice
Sales           5000
Name: 0, dtype: object

### Exercise-1

- Create a DataFrame for February sales data with the same salespeople.
- Select the data for "Charlie" using both `loc` and `iloc` indexing.
- Display only the sales column for February using column indexing.

In [2]:
data_February = {
    'Salesperson': ['Alice', 'Bob', 'Charlie'],
    'Sales': [50000, 300, 40]
}
df_February = pd.DataFrame(data_February)
print("loc Alice:\n",df_February.loc[df_February['Salesperson'] == 'Alice'])
print("\niloc Alice:\n",df_February['Sales'].iloc[0])
print("\nthe sales:\n",df_February['Sales'])

loc Alice:
   Salesperson  Sales
0       Alice  50000

iloc Alice:
 50000

the sales:
 0    50000
1      300
2       40
Name: Sales, dtype: int64

## Module 2: Concatenate and Merge

### Sample Code

In [3]:
# Sample sales data for February
data_february = {
    'Salesperson': ['Alice', 'Bob', 'Charlie'],
    'Sales': [6000, 3500, 4200]
}
df_february = pd.DataFrame(data_february)

# Concatenate January and February data
df_combined = pd.concat([df_january, df_february], keys=['January', 'February'])
print("Combined DataFrame:\n", df_combined)

# Merging with a new DataFrame for March
data_march = {
    'Salesperson': ['Alice', 'Bob', 'Charlie'],
    'Sales': [7000, 3700, 4300]
}
df_march = pd.DataFrame(data_march)

df_merged = pd.merge(df_february, df_march, on='Salesperson', suffixes=('_February', '_March'))
print("\nMerged February and March DataFrame:\n", df_merged)

Combined DataFrame:
            Salesperson  Sales
January  0       Alice   5000
         1         Bob   3000
         2     Charlie   4000
February 0       Alice   6000
         1         Bob   3500
         2     Charlie   4200

Merged February and March DataFrame:
   Salesperson  Sales_February  Sales_March
0       Alice            6000         7000
1         Bob            3500         3700
2     Charlie            4200         4300

### Exercise-2
- Create a DataFrame for April with sales data for the same salespeople.
- Concatenate the January, February, and March DataFrames with the new April DataFrame, preserving monthly labels.
- Merge February and April data by "Salesperson" and add suffixes "_Feb" and "_Apr" to indicate months.

In [4]:
data_april = {
    'Salesperson': ['Alice', 'Bob', 'Charlie'],
    'Sales': [600000, 500, 14200]
}
df_april = pd.DataFrame(data_april)
df_combined_all = pd.concat([df_january,df_february,df_march,df_april],keys=['January','February','March','April'])
print("\nCombined DataFrame:\n", df_combined_all)
df_merged_all=pd.merge(df_february,df_april,on='Salesperson',suffixes=('_February','_April'))
print("\nMerged DataFrame:\n",df_merged_all)

Combined DataFrame:
            Salesperson   Sales
January  0       Alice    5000
         1         Bob    3000
         2     Charlie    4000
February 0       Alice    6000
         1         Bob    3500
         2     Charlie    4200
March    0       Alice    7000
         1         Bob    3700
         2     Charlie    4300
April    0       Alice  600000
         1         Bob     500
         2     Charlie   14200

Merged DataFrame:
   Salesperson  Sales_February  Sales_April
0       Alice            6000       600000
1         Bob            3500          500
2     Charlie            4200        14200

## Module 3: Groupby Operations

### Sample Code

In [5]:
# Define a dictionary with sales data
# 'Month' column represents the month of each sale record
# 'Salesperson' column represents the person responsible for each sale
# 'Sales' column contains the sales amount for each entry
data_combined = {
    'Month': ['January', 'January', 'January', 'February', 'February', 'February', 
              'March', 'March', 'March'],
    'Salesperson': ['Alice', 'Bob', 'Charlie'] * 3,
    'Sales': [5000, 3000, 4000, 6000, 3500, 4200, 7000, 3700, 4300]
}

# Create a DataFrame from the sales data
df_all = pd.DataFrame(data_combined)
print("\nCombined DataFrame:\n", df_all)

# Calculate the total sales for each salesperson by summing the 'Sales' column
total_sales = df_all.groupby('Salesperson')['Sales'].sum()
print("Total sales by salesperson:\n", total_sales)

# Calculate the average sales for each salesperson by taking the mean of the 'Sales' column
average_sales = df_all.groupby('Salesperson')['Sales'].mean()
print("\nAverage sales by salesperson:\n", average_sales)

Combined DataFrame:
       Month Salesperson  Sales
0   January       Alice   5000
1   January         Bob   3000
2   January     Charlie   4000
3  February       Alice   6000
4  February         Bob   3500
5  February     Charlie   4200
6     March       Alice   7000
7     March         Bob   3700
8     March     Charlie   4300
Total sales by salesperson:
 Salesperson
Alice      18000
Bob        10200
Charlie    12500
Name: Sales, dtype: int64

Average sales by salesperson:
 Salesperson
Alice      6000.000000
Bob        3400.000000
Charlie    4166.666667
Name: Sales, dtype: float64

### Exercise-3
- Calculate total sales for each salesperson across all four months.
- Calculate the average monthly sales for each salesperson.
- Identify the salesperson with the highest total sales across the period.

In [15]:
data_combined_all = {
    'Month': ['January', 'January', 'January', 'February', 'February', 'February', 
              'March', 'March', 'March','April','April','April'],
    'Salesperson': ['Alice', 'Bob', 'Charlie'] * 4,
    'Sales': [5000, 3000, 4000, 6000, 3500, 4200, 7000, 3700, 4300, 600000, 500, 14200]
}
df_all=pd.DataFrame(data_combined_all)
print("\nCombined DataFrame:\n", df_all)
sales_for_each=df_all.groupby('Salesperson')['Sales'].sum()
print("\nTotal sales by salesperson:\n",sales_for_each)
highest=sales_for_each.max()
print("\nHighest sales:\n",sales_for_each[sales_for_each==highest].index[0])

Combined DataFrame:
        Month Salesperson   Sales
0    January       Alice    5000
1    January         Bob    3000
2    January     Charlie    4000
3   February       Alice    6000
4   February         Bob    3500
5   February     Charlie    4200
6      March       Alice    7000
7      March         Bob    3700
8      March     Charlie    4300
9      April       Alice  600000
10     April         Bob     500
11     April     Charlie   14200

Total sales by salesperson:
 Salesperson
Alice      618000
Bob         10700
Charlie     26700
Name: Sales, dtype: int64

Highest sales:
 Alice

## Module 4: Pivot Table

### Sample Code

In [23]:
# Create a pivot table from df_all that summarizes total monthly sales for each salesperson.
# 'values' specifies the data to aggregate, 'index' is set to 'Salesperson' to categorize by each salesperson,
# 'columns' is set to 'Month' to show sales data for each month, and 'aggfunc' is set to 'sum' to sum up sales.
pivot_sales = df_all.pivot_table(values='Sales', index='Salesperson', columns='Month', aggfunc='sum')
print("Pivot table of monthly sales per salesperson:\n", pivot_sales)

# Add a new column 'Total' to the pivot table, which calculates the total sales for each salesperson across all months.
pivot_sales['Total'] = pivot_sales.sum(axis=1)
print("\nTotal sales per salesperson:\n", pivot_sales)

# Calculate the average sales for each salesperson using the groupby function.
# This groups the data by 'Salesperson' and then calculates the mean of 'Sales' for each group.
average_sales = df_all.groupby('Salesperson')['Sales'].mean()
print("\nAverage sales by salesperson:\n", average_sales)

Pivot table of monthly sales per salesperson:
 Month         April  February  January  March
Salesperson
Alice        600000      6000     5000   7000
Bob             500      3500     3000   3700
Charlie       14200      4200     4000   4300

Total sales per salesperson:
 Month         April  February  January  March   Total
Salesperson
Alice        600000      6000     5000   7000  618000
Bob             500      3500     3000   3700   10700
Charlie       14200      4200     4000   4300   26700

Average sales by salesperson:
 Salesperson
Alice      154500.0
Bob          2675.0
Charlie      6675.0
Name: Sales, dtype: float64

### Exercise-4
- Create a pivot table that shows the sales for each month per salesperson.
- Add a new column showing the total sales for each salesperson across all months.
- Sort the pivot table by total sales in descending order to identify the top salesperson.

In [25]:
pivot_sales.loc['All']=pivot_sales.sum(axis=0)
print("\nTotal sales per month:\n",pivot_sales)
sorted_sales=pivot_sales.sort_values(by='Total',ascending=False)
print("\nSorted sales:\n",sorted_sales)

Total sales per month:
 Month          April  February  January  March    Total
Salesperson
Alice         600000      6000     5000   7000   618000
Bob              500      3500     3000   3700    10700
Charlie        14200      4200     4000   4300    26700
All          1229400     27400    24000  30000  1310800

Sorted sales:
 Month          April  February  January  March    Total
Salesperson
All          1229400     27400    24000  30000  1310800
Alice         600000      6000     5000   7000   618000
Charlie        14200      4200     4000   4300    26700
Bob              500      3500     3000   3700    10700

## Module 5: Time Series & Window Operation

### Sample Code

In [26]:
# Define a dictionary containing daily sales data
data_daily = {
    'Date': pd.date_range(start='2023-01-01', periods=10, freq='D'),  # Generate a date range for 10 days
    'Sales': [500, 600, 700, 800, 750, 680, 720, 710, 750, 730]      # List of sales figures for each day
}

# Create a DataFrame from the daily sales data
df_daily = pd.DataFrame(data_daily)

# Set the 'Date' column as the index of the DataFrame for easier time-based operations
df_daily.set_index('Date', inplace=True)

# Calculate a 3-day rolling average of the 'Sales' column and store it in a new column 'Rolling_Avg'
df_daily['Rolling_Avg'] = df_daily['Sales'].rolling(window=3).mean()
print("Daily sales with 3-day rolling average:\n", df_daily)

# Calculate the cumulative average of the 'Sales' column and store it in a new column 'Cumulative_Avg'
df_daily['Cumulative_Avg'] = df_daily['Sales'].expanding().mean()
print("\nDaily sales with cumulative average:\n", df_daily)

Daily sales with 3-day rolling average:
             Sales  Rolling_Avg
Date
2023-01-01    500          NaN
2023-01-02    600          NaN
2023-01-03    700   600.000000
2023-01-04    800   700.000000
2023-01-05    750   750.000000
2023-01-06    680   743.333333
2023-01-07    720   716.666667
2023-01-08    710   703.333333
2023-01-09    750   726.666667
2023-01-10    730   730.000000

Daily sales with cumulative average:
             Sales  Rolling_Avg  Cumulative_Avg
Date
2023-01-01    500          NaN      500.000000
2023-01-02    600          NaN      550.000000
2023-01-03    700   600.000000      600.000000
2023-01-04    800   700.000000      650.000000
2023-01-05    750   750.000000      670.000000
2023-01-06    680   743.333333      671.666667
2023-01-07    720   716.666667      678.571429
2023-01-08    710   703.333333      682.500000
2023-01-09    750   726.666667      690.000000
2023-01-10    730   730.000000      694.000000

### Exercise-5
- Simulate daily sales data for the first 15 days of February, adding a trend for increasing sales.
- Calculate a 7-day rolling average for daily sales.
- Use an expanding window to compute a cumulative average, identifying the trend over time.